
/**
 * utils
 */
.center {
  text-align: center;
}
hr.brown {
  border-top: 5px solid brown;
}
hr.red {
  border-top: 5px solid red;
}
.red {
  border: 2px solid red;
}
.green {
  border: 2px solid green;
}

/**
 * Header
 */
.site-branding {
  padding: 1em;
}

.site-content {
  padding-top: 0;
}

.custom-header {
  width: 50%;
  float: left;
}

.search-wrapper {
  width: 50%;
  height: 100%;
  float: left;
  height: 100px;
  line-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrapper form {
  width: 80%;
}

/**
 * page, article
 */
.post-navigation .nav-previous {
  padding-left: 50px;
}
.post-navigation .nav-next {
  padding-right: 50px;
}

/*
.modal-content {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid purple;
  width: 50%;
  margin-left: 25%;
  background: white;
  padding: 20px;
  z-index: 100;
}
*/

/**
 * footer
 */
footer {
  display: none;
}

